@model IEnumerable<ProjectInfoEfCore.Models.Projects>


<ul>
    @foreach (var proj in Model)
    {
        <li>
            <a asp-controller="Projects" asp-action="Details" asp-route-id="@proj.ProjectsId">@proj.Name</a>
        </li>

    }
</ul>