@model IEnumerable<ProjectInfoEfCore.Models.Projects>

@{ 
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>


@{ 
    Html.EJ().Grid<Object>("ProjGrid")
        .Datasource((IEnumerable<object>)Model)
        .AllowGrouping()
        .GroupSettings(group => { group.GroupedColumns(col => { col.Add("ProjectParentFolder"); }); })
        .Columns(col =>
        {
            col.Field("Name").HeaderText("Name").Template("<a href='/Projects/Details/{{:ProjectsId}}'>{{:Name}}</a>").Add();
            col.Field("ExeName32").HeaderText("Executable Name").Add();
            col.Field("ProjectFolder").HeaderText("Project Folder").Add();
            col.Field("ProjectParentFolder").HeaderText("Parent Folder").Add();
        }).Render();
}