@model IEnumerable<ProjectInfoEfCore.Models.Projects>

@{ 
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>ExeName32</th>
        <th>ProjectFolder</th>
        <th>ProjectParentFolder</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExeName32)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>item.ProjectFolder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectParentFolder)
            </td>
        </tr>

    }
</table>