@{
    ViewData["Title"] = "Home Page";
}

<div class="e-tile-group">
    <div class="e-tile-column">
        <div id="tileProjects"></div>
        <div id="tileClasses"></div>
    </div>
    <div class="e-tile-column">
        <div id="tileForms"></div>
        <div id="tileModules"></div>
    </div>
</div>

<script  type="text/javascript">
    $(function ($) {

        $("#tileProjects").ejTile({ "tileSize": "large", "text": "Projects" });

        $("#tileClasses").ejTile({ "tileSize": "large", "text": "Classes" });

        $("#tileForms").ejTile({ "tileSize": "large", "text": "Forms" });

        $("#tileModules").ejTile({ "tileSize": "large", "text": "Modules" });

    });
</script>