@model ProjectInfoEfCore.Models.ProjectCode

<h3>Source Code</h3>
<hr />
<pre>
<code class="language-none line-numbers remove-initial-line-feed">
        @Html.DisplayFor(model => model.LeCode)
    </code>
</pre>