@model IEnumerable<ProjectInfoEfCore.Models.Modules>

<h3>Modules</h3>
<hr />
<ul>
    @foreach (var mod in Model)
    {        
        <li>
            <a asp-controller="Modules" asp-action="Details" asp-route-id="@mod.ModulesId">@mod.ModuleName</a>
        </li>
    }
</ul>