@model ProjectInfoEfCore.Models.ProjectCode

<h2>Source Code</h2>
<hr/>
<pre>
    <code class="language-none line-numbers remove-initial-line-feed">
        @Html.DisplayFor(model => model.LeCode)
    </code>
</pre>