@model IEnumerable<ProjectInfoEfCore.Models.Classes>

<h3>Classes</h3>
<hr/>
<ul>
    @foreach (var cls in Model)
    {
        <li>
            <a asp-controller="Classes" asp-action="Details" asp-route-id="@cls.ClassesId">@cls.ClassName</a>   
        </li>

    }
</ul>