@model IEnumerable<ProjectInfoEfCore.Models.ObjectRefs>

<h3>Object References</h3>
<hr />


@{ 
    Html.EJ().Grid<Object>("ObjRefGrid")
        .Datasource((IEnumerable<ProjectInfoEfCore.Models.ObjectRefs>)Model)
        .AllowPaging()
        .Columns(col =>
        {
            col.Field("ClsId").HeaderTextAlign(TextAlign.Center).HeaderText("CLSID").Add();
            col.Field("ObjectVersion").HeaderTextAlign(TextAlign.Center).HeaderText("Object Version").Add();
            col.Field("ObjectFile").HeaderTextAlign(TextAlign.Center).HeaderText("ObjectFile").Add();

        }).Render();
}