@model IEnumerable<ProjectInfoEfCore.Models.ObjectRefs>

<h3>Object References</h3>
<hr />

<div>
    <table class="table">
        <tr>
            <th>Object File</th>
            <th>Object Version</th>            
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ObjectFile)</td>
                <td>@Html.DisplayFor(modelItem => item.ObjectVersion)</td>                
            </tr>

        }
    </table>
</div>