@model IEnumerable<ProjectInfoEfCore.Models.Forms>

<h3>Forms</h3>
<hr />
<ul>
    @foreach (var frm in Model)
    {        
        <li>
            <a asp-controller="Forms" asp-action="Details" asp-route-id="@frm.FormsId">@frm.FormFile</a>
        </li>

    }
</ul>