@model IEnumerable<ProjectInfoEfCore.Models.Referencez>

<h3>References</h3>
<hr />

@*<div>
    <table class="table">
        <tr>
            <th>Object Name</th>
            <th>Object Version</th>
            <th>File Path</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ObjectName)</td>
                <td>@Html.DisplayFor(modelItem => item.ObjectVersion)</td>
                <td>@Html.DisplayFor(modelItem => item.FilePath)</td>
            </tr>

        }
    </table>
</div>*@

@{ 
    Html.EJ().Grid<Object>("RefGrid")
        .Datasource((IEnumerable<object>)Model)
        .AllowPaging()
        .AllowSorting()
        .Columns(col =>
        {
            col.Field("ObjectName").HeaderTextAlign(TextAlign.Center).HeaderText("Object Name").Add();
            col.Field("ObjectVersion").HeaderTextAlign(TextAlign.Center).HeaderText("Object Version").TextAlign(TextAlign.Center).Add();
            col.Field("FilePath").HeaderTextAlign(TextAlign.Center).HeaderText("File Path").TextAlign(TextAlign.Left).Add();
        }).Render();
}